body{
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Lobster', cursive;
    font-size:250%;
    color:coral;
}

button{
    font-family: 'Supermercado One', cursive;
    font-size:100%;
    color: rgb(12, 129, 240,);
    animation-name:Glow;
    animation-duration:10s;
    animation-iteration-count: infinite;
}

@keyframes Glow{
    0%{
        box-shadow: 1px 1px 50px yellow;
        border:3px solid blue;
    }

    25%{
        box-shadow: 1px 0px 50px rgb(0, 255, 34);
        border:3px solid pink;
    }

    50%{
        box-shadow: 1px 1px 50px rgb(255, 0, 234);
        border:3px solid aqua;

    }

    80%{
        box-shadow: 1px 1px 50px rgb(2, 240, 248);
        border:3px solid green;

    }

    100%{
        box-shadow: 1px 1px 50px blue;
        border:3px solid yellow;

    }
}